<!DOCTYPE html>
<html>
  <head>
<title>Wypożyczona książka</title>
</head>
<body>
<h1>Wypożyczona książka</h1>
{% if request.session.book_in_catalog %}
   {% if request.session.book_in_library %}
      Wypożyczono Książkę
   {% else %}
      Nie można wypożyczyć książki, ktoś ją wypożyczył
   {% endif %}

{% else %}
<p>
  Brak książki w katalogu bibliotecznym
{% endif %}
  <a href= "{% url 'borrow-book'%}">Wypożycz książkę</a>
  <a href="{% url 'reader-profile' %}">Powrót do czytelnika</a>
  
</body>
</html>
